@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cagliostro&display=swap');

:root {
    --cor0: #fd91f8;
    --cor1: #DECDFA;
    --cor2: #FAE8F9;
    --cor3: #F5E8FA;
    --cor4: #F5C8C4;
    --cor5: #FAE8EE;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--cor3) url('../imagens/patinha-rosa.png') left top / 55px repeat scroll;
    height: 100vh;
}

header {
    background-image: linear-gradient(to top, var(--cor1), var(--cor2), var(--cor3));
    height: 200px;
    font-family: "Cagliostro", sans-serif;
}

header > h1 {
    text-align: center;
    padding: 10px;
}

header > p {
    text-align: center;
    margin-top: 50px;
}

nav {
    padding: 10px;
    background-image: linear-gradient(to right, var(--cor0), var(--cor1));
    text-align: center;
    font-family: "Cagliostro", sans-serif;
}

nav > span > p {
    display: none;
}

nav > span:hover {
    background-color: rgba(255, 255, 255, 0.644);
}

nav > span:hover > p {
   display: block;
   text-align: left; 
}

main {
    background-image: linear-gradient(to left, var(--cor4), #ddc8c5, var(--cor5));
    margin: auto;
    min-width: 300px;
    max-width: 800px;
    padding: 10px;
}

h1 {
    font-family: "Cagliostro", sans-serif;
    text-align: center;
    padding: 10px;
}

h2 {
    padding: 50px;
    margin: 50px -10px;
    text-align: center;
    font-family: "Cagliostro", sans-serif;
}

h2::after {
    content: '\1F431';
}

img {
    display: block;
    margin: auto;
}

article {
    background-color: white;
    margin-top: 50px;
    padding: 20px;
    text-align: justify;
    border: 5px dashed var(--cor1);
}

ul {
    list-style-type: '\1F43E';
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.adocao-rensponsavel {
    list-style-type: '\1F5F8';
}

li {
    padding: 5px;
    margin-left: 10px;
}

p{
    padding: 10px;
    font-family: "Cagliostro", sans-serif;
}

h3, h4 {
    padding: 10px;
    margin: 5px;
}