@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

 @font-face {
    font-family: 'pata';
    src: url('../fontes/Cat\ paw.ttf') format('truetype');
 }

 @font-face {
    font-family: 'monosquare';
    src: url('../fontes/Big\ Pixel\ demo.otf') format('opentype');
 }

:root {
    --cor0: #fd91f8;
    --cor1: #DECDFA;
    --cor2: #FAE8F9;
    --cor3: #F5E8FA;
    --cor4: #F5F5DC;
    --cor5: #FAF0E6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--cor3) url('../imagens/patinha-rosa.png') left top / 202px repeat scroll;
    height: 100vh;
}

header {
    background-image: linear-gradient(to top, var(--cor1), var(--cor2), var(--cor3));
    height: 200px;
}

header > h1 {
    color: var(--cor0);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    text-align: center;
    padding-top: 20px;
    font-family: 'pata', monospace;
    font-size: 50px
}

header > p {
    color: #9b7618;
    text-align: center;
    margin-top: 50px;
    font-family: "Autour One", cursive;
    font-size: clamp(15px, 2vw, 25px);
}

nav {
    color: white;
    background-image: linear-gradient(to right, var(--cor0), var(--cor1));
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
}

nav > p {
    padding: 10px;
}

nav > section {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.479);
}

nav > section > p {
    padding-bottom: 20px;
}

nav a{
    color: white;
}

#whatsapp {
  background-color: #25D366;
}

#instagram {
  background: linear-gradient(45deg, #833AB4, #FD1D1D, #FCAF45);
}

#facebook {
    background-color: #25257a;
}

main {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    margin: auto;
    min-width: 300px;
    max-width: 800px;
    padding: 10px;
    font-family: "Roboto Mono", Arial, monospace;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.411);
}

main h1 {
    color: #9b7618;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
    font-family: "monosquare", sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

main h2 {
    color: var(--cor0);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.521);
    padding: 50px;
    margin: 50px 0px;
    text-align: center;
    font-family: "Autour One", sans-serif;
}

h2::after {
    content: '\1F431';
}

section > img {
    max-width: 100%;
    display: block;
    margin: auto;
}

nav img {
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

article {
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.479);
    margin-top: 50px;
    padding: 20px;
    text-align: justify;
}

ul {
    list-style-type: '\1F43E';
    padding: 10px;
}

.adocao-rensponsavel {
    list-style-type: '\1F5F8';
}

li {
    padding: 5px;
    margin-left: 10px;
}

main p{
    padding: 10px;
    font-size: clamp(15px, 2vw, 30px);
}

h3, h4 {
    padding: 10px;
    margin: 5px;
}

footer {
    background-color: var(--cor0);
    margin-top: 100px;
    text-align: center;
}

footer > p {
    color: white;
    padding: 10px;
    font-family: "monosquare", monospace;
}

footer a {
    color: white;
}